*.obj
*.a
out
.vs
.ninja_deps
.ninja_log
build.ninja
*.vcxproj
*.filters
*.sln
out.txt
/x64/
/.idea/
/build/
/Debug/
/Release/
/Testing/
/build/
/output/
/logs/
/objs/
*.cmake
CMakeFiles
Makefile
CMakeCache.txt

